<div class="container" id="contact">
  <h2>Contact me</h2>
  <div class="row contact details">
    <div class="col-md-4 offset-md-1">
      <div
        class="contact-container phone"
        onclick="window.open('tel:+918299168944')"
      >
        <div class="contact-icon">
          <i class="fa fa-phone"></i>
        </div>
        <div class="contact-info">
          <a href="tel:+918299168944">+918299168944</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-2">
      <div
        class="contact-container mail"
        onclick="window.open('mailto:aman.srivastava1010@gmail.com');"
      >
        <div class="contact-icon">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="contact-info">
          <a href="mailto:aman.srivastava101@gmail.com"
            >aman.srivastava101@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Made with ❤️ by Aman Srivastava</p>
      <p class="copyright">&copy; 2021 Aman Srivastava</p>
    </div>
  </div>
</div>
