<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5"><img src="../../assets/profile.jpg" /></div>
      <div class="col-md-7">
        <h1>About Me</h1>
        <p>
          Skilled in developing android apps using Flutter and a passionate MEAN
          stack developer, I'm a 3rd year engineering student pursuing my
          bachelors from Kamla Nehru Institute of Technology. I have a zeal to
          keep learning and improving my skills. I also have a interest in UI
          designing and have extensively used tools like Adobe XD to design my
          Android & Web apps.
        </p>
      </div>
    </div>
  </div>
</div>
