<section class="intro" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5"><img src="./assets/profile.jpg" /></div>
      <div class="col-md-7">
        <div class="main">
          <h1>About Me</h1>
          <p>
            Hey there, I'm Aman Srivastava. I am a college student and currently
            pursuing my bachelor's degree in Information Technology from Kamla
            Nehru Institute of Technology(2018-2022), Sultanpur. I'm passionate
            about creating beautiful, user-friendly websites and apps using
            clean, modular code. I love learning about the latest technologies
            and applying them to produce high quality work.
          </p>
          <p>I also enjoy reading and playing video games in my free time.</p>
        </div>
      </div>
    </div>
  </div>
</section>
