<app-app-bar></app-app-bar>
<ng-scrollbar class="my-scrollbar" [position]="['invertY']">
  <!-- Wrapper for bubbles -->
  <div class="wrapper" id="home">
    <!-- Main Intro Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 main">
          <h3>Hi There</h3>
          <h1>I'm <span>Aman Srivastava</span></h1>
          <div>
            <ngx-sbz-type-delete
              [textColor]="['white']"
              [fontSize]="['1.5em']"
              [typingSpeedMilliseconds]="60"
              [deleteSpeedMilliseconds]="30"
              [wordArray]="[
                'Flutter Developer🚀          ',
                'MEAN Stack Developer🌐         ',
                'Programmer👨‍💻          '
              ]"
            >
            </ngx-sbz-type-delete>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/hero.svg" />
        </div>
      </div>
    </div>
    <!-- Main Intro Ends -->

    <!-- Bubbles start -->
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- Bubbles End -->
  </div>
  <app-intro></app-intro>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-footer></app-footer>
</ng-scrollbar>
<div
  class="scroll-top"
  *ngIf="scrollToIcon$ | async as icon"
  (click)="scrollToEdge(icon)"
>
  &#8593;
</div>
