html {
  scroll-behavior: smooth;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space /
background: transparent; / optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
*/ ::-webkit-scrollbar-thumb {
  background: #ff0000;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  color: #fff;
}
